<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <mat-select [disabled]="isDisabled"
              [(ngModel)]="selectedValue"
              (ngModelChange)="onSelectOption($event)">
    <mat-option [value]="null">None</mat-option>
    <mat-option *ngFor="let item of itemsSource"
                [disabled]="item.isDisabled === true"
                [value]="item[valuePath]">{{item[displayPath]}}</mat-option>
  </mat-select>
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-hint>
    <div *ngFor="let m of errors" class="error">{{m}}</div>
  </mat-hint>
</mat-form-field>