:host {
  display: block;
}

mat-radio-group {
  display: block;

  mat-radio-button {
    margin-right: 5px;
  }

  &.radio-group-row {
    display: flex;
    flex-direction: column;

    mat-radio-button {
      margin: 5px;
    }
  }
}
