h2{
  text-transform: capitalize;
  text-decoration: underline;
}

.dang-tin-rao-tab{
  width: 100%;
  background-color: #FFFFFF;
}
nav.dang-tin-rao-tab a{
  width: 50%;
  color: black;
  border: solid black 2px;
}

.input{
  width: 100%;
}
.color-red{
  color: red;
}
.center{
  text-align: center;
  padding-bottom: 10px;
}