<div class="clearfix"></div>


<!--Post info-->
<form [formGroup]="form" novalidate>

  <div class="selling-land-wrapper rent-land">
    <div class="post-title">
      <h1>ĐĂNG TIN RAO CẦN MUA, CẦN THUÊ NHÀ ĐẤT</h1>
      <div class="color-gray">(Quý vị nhập thông tin nhà đất cần mua hoặc cần thuê vào các mục dưới đây)</div>
    </div>
    <nav mat-tab-nav-bar class="dang-tin-rao-tab">
      <a mat-tab-link routerLink="/post/post-rent-article" title="Cần bán/Cho thuê">
        Cần bán/Cho thuê
      </a>

      <a mat-tab-link class="active" routerLink="/post/post-buy-article" title="Cần mua/Cần thuê">
        Cần mua/Cần thuê
      </a>
    </nav>
    <mat-divider></mat-divider>
    <div class="form-wrapper">
      <div class="form-header">
        <h2>LỊCH ĐĂNG TIN</h2>
      </div>
      <div class="form-content" >
        <div class="row-post">
          <div class="col-6">
            <div class="label-title">
              <label>Ngày bắt đầu</label>
            </div>

            <div class="input input-2">
              <app-date-picker [formControlName]="'publishStartDate'"
                               [errors]="getMessageErrors('publishStartDate')"
                               (valueChange)="onPublishStartDateChanged($event)"
                               [id]="'startDate'">
              </app-date-picker>

            </div>


          </div>
          <div class="col-6">
            <div class="label-title">
              <label>Ngày kết thúc</label>
            </div>
            <div class="input input-2">
              <app-date-picker [formControlName]="'publishEndDate'"
                               [errors]="getMessageErrors('publishEndDate')"
                               [id]="'endDate'" >
              </app-date-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="form-wrapper">
      <div class="form-header">
        <h2>THÔNG TIN MÔ TẢ</h2>
      </div>
      <div class="form-content">
        <div class="row-post">
          <label class="header-create-form">Tiêu đề </label>(<span class="color-red">*</span>)
        </div>
        <div class="row-post">
          <div class="input" style="position: relative">
            <app-input-text [formControlName]="'title'"
                            (mouseOver)="basicForm.showTitleTooltip = true"
                            (mouseLeave)="basicForm.showTitleTooltip = false"
                            (valueChanged)="onTitleChanged($event)"
                            [errors]="getMessageErrors('title')"
            ></app-input-text>
            <span class="count-length"
                  [class.string-red]="basicForm.titleLengthRemind > 68 || basicForm.titleLengthRemind < 0"
                  style="position: absolute; top: 0; right: 0" >
              {{basicForm.titleLengthRemind}}
            </span>
            <div class="helper-message" style="display: block" *ngIf="basicForm.showTitleTooltip">
              <img src="assets/images/arrow.png" alt="">Vui lòng nhập tiêu đề tin đăng của bạn. Tối thiểu là 30 ký tự và
              tối đa là 99 ký tự.
            </div>
          </div>
        </div>
        <div class="row-post">
          <label class="header-create-form">Nội dung tin đăng</label>(<span class="color-red">*</span>) tối đa chỉ 3000 ký tự
        </div>
        <div class="row-post">
          <app-input-textarea [formControlName]="'description'"
                        (valueChanged)="onDescriptionChanged($event)"
                        [errors]="getMessageErrors('description')"></app-input-textarea>

          <span class="txtDescription_count"
                style="float: left;margin-left: 10px;"
                [class.string-red]="basicForm.descriptionLengthRemind > 2969 || basicForm.descriptionLengthRemind < 0" >
            {{basicForm.descriptionLengthRemind}}
          </span>

          <div class="txt-descripton">

            <img src="assets/images/arrow.png" alt="">Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí
            thuận lợi: Gần công viên, gần trường học ...
            Tổng diện tích 52m2, đường đi ô tô vào tận cửa.
            <div class="color-red">Lưu ý: tin rao chỉ để mệnh giá tiền Việt Nam Đồng.</div>
          </div>
        </div>

        <br>

        <div class="row-post">
          <label class="header-create-form">Từ khóa cho tin đăng </label>
        </div>
        <div class="row-post">
          <div class="input" style="position: relative">
            <app-input-text [formControlName]="'keywordList'"
                            (valueChanged)="onKeywordChanged($event)"
                            [errors]="getErrorMessages('keyword')"
            ></app-input-text>
            <div class="txt-descripton">
              <img src="assets/images/arrow.png" alt="">
              Nhập từ khóa cho tin đăng của bạn, mỗi từ khóa cách nhau bằng dấu "," .
            </div>
            <span class="count-length">
              Bạn đã nhập: <b>{{basicForm.keywordRemind}}</b> từ khóa.
              <!--TODO show list từ khóa đã nhập-->
            </span>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="form-wrapper post-product">
      <div class="form-header">
        <h2>Hình ảnh và video</h2>
      </div>
      <div class="form-content">
        <div class="row-post">
          <div class="text-desc">
            <p>Tối đa 8 ảnh với tin thường và 16 với tin VIP. Mỗi ảnh tối đa 2MB</p>
            <p>Tin rao có trên 5 ảnh sẽ được liên hệ nhiều hơn so với các tin khác. Hãy đăng nhiều ảnh để giao dịch
              nhanh chóng!
            </p>
          </div>
          <app-image-uploader [formControlName]="'images'"
          ></app-image-uploader>

        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="form-wrapper">
      <div class="form-header">
        <h2>Thông tin cơ bản</h2>
      </div>
      <div class="form-content">
        <div class="row-post mar-bottom-10">
          <div>Bạn chỉ chọn được thông tin Phường/Xã, Đường/Phố hay Dự án khi chọn 1 Quận/Huyện. Trường hợp bạn chọn nhiều Quận/Huyện thì không được chọn các tiêu chí còn lại.</div>
        </div>
        <mat-grid-list [rowHeight]="'125'"  cols="2" >
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Hình thức(<span class="color-red">*</span>)</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.forms"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn hình thức--'"
                               [formControlName]="'formality'"
                               [errors]="getMessageErrors('formality')"
                               (valueChanged)="onSelectForm($event.value)"></app-select-text>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Loại(<span class="color-red">*</span>)</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.categories"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn loại--'"
                               [formControlName]="'type'"
                               [errors]="getMessageErrors('type')"></app-select-text>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [rowHeight]="'125'"  cols="2" >
          <mat-grid-tile>
              <div class="input input-2">
                <div>
                  <label>Tỉnh/Thành phố(<span class="color-red">*</span>)</label>
                </div>
                <app-select-text [title]="'--Chọn tỉnh/thành phố--'"
                                 [isDisabled]="false"
                                 [itemsSource]="itemsSource.cityOrProvinces"
                                 [displayPath]="'text'"
                                 [valuePath]="'value'"
                                 [errors]="getMessageErrors('city')"
                                 (valueChanged)="onChangedCity($event.value)"
                                 [formControlName]="'city'"></app-select-text>
              </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Quận/Huyện(<span class="color-red">*</span>)</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.districts"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn quận / huyện--'"
                               [formControlName]="'district'"
                               [errors]="getMessageErrors('district')"
                               (valueChanged)="onChangedDistrict($event.value)"></app-select-text>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [rowHeight]="'125'"  cols="2" >
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Phường/Xã</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.wards"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn phường / xã--'"
                               [formControlName]="'ward'"
                               [errors]="getMessageErrors('ward')"
                               (valueChanged)="onChangedWard()"></app-select-text>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Đường/Phố</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.streets"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn đường--'"
                               [formControlName]="'ward'"
                               [errors]="getMessageErrors('street')"
                               (valueChanged)="onChangedStreet()"></app-select-text>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list [rowHeight]="'150'"  cols="2" >
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Dự án</label>
              </div>
              <app-select-text [itemsSource]="itemsSource.projects"
                               [displayPath]="'text'"
                               [valuePath]="'value'"
                               [title]="'--Chọn dự án--'"
                               [formControlName]="'project'"
                               [errors]="getMessageErrors('project')"
                               (valueChanged)="onChangedProject()"></app-select-text>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="input input-2">
              <div>
                <label>Diện tích</label>
              </div>
              <app-select-text  [itemsSource]="itemsSource.area"
                                [formControlName]="'area'"
                                [displayPath]="'text'"
                                [valuePath]="'value'"
                                [title]="'--Chọn diện tích--'"
                                [errors]="getMessageErrors('area')"
              ></app-select-text>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="row">
          <div class="col-6">
            <div class="label-title">
              <label>Giá</label>
            </div>
            <div class="input input-2">
              <app-select-text [itemsSource]="itemsSource.price"
                                       [formControlName]="'price'"
                                       [displayPath]="'text'"
                                       [valuePath]="'value'"
                                       [title]="'--Chọn mức giá--'"
                                       [errors]="getMessageErrors('price')"
              ></app-select-text>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="label-title">
            <label>Địa chỉ:(<span class="color-red">*</span>)</label>
          </div>
          <div class="input-3">
            <app-input-text [formControlName]="'address'"
                            [errors]="getMessageErrors('address')"
            ></app-input-text>
          </div>
        </div>

      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="form-wrapper">
      <div class="form-header">
        <h2>Liên hệ</h2>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="label-title">
            <label>Tên liên hệ:</label>
          </div>
          <div class="input input-2">
            <app-input-text [formControlName]="'contactName'"
                            [errors]="getMessageErrors('contactName')"
            ></app-input-text>
          </div>
        </div>
        <div class="row">
          <div class="label-title">
            <label>Địa chỉ:</label>
          </div>
          <div class="input input-2">
            <app-input-text [formControlName]="'contactAddress'"
                            [errors]="getMessageErrors('contactAddress')"
            ></app-input-text>
          </div>
        </div>
        <div class="row">
          <div class="label-title">
            <label>Điện thoại:</label>
          </div>
          <div class="input input-4">
            <app-input-number [formControlName]="'contactPhone'"
                              [errors]="getMessageErrors('contactPhone')"
            ></app-input-number>
          </div>
        </div>
        <div class="row">
          <div class="label-title">
            <label>Di động: (<span class="color-red">*</span>)</label>
          </div>
          <div class="input input-4">
            <app-input-number [formControlName]="'contactMobile'"
                              [errors]="getMessageErrors('contactMobile')"
            ></app-input-number>
          </div>
        </div>
        <div class="row">
          <div class="label-title">
            <label>Email:</label>
          </div>
          <div class="input input-4">
            <app-input-text [formControlName]="'contactEmail'"
                            [errors]="getMessageErrors('contactEmail')"
            ></app-input-text>
          </div>
          <app-checkbox-group [formControlName]="'receiveMail'"
                              [itemsSource]="itemsSource.receiveMail"
                              [displayPath]="'text'"
                              [valuePath]="'value'"
          ></app-checkbox-group>
        </div>
      </div>
    </div>
    <div class="form-wrapper">
      <div style="display: inline-block;">
                <app-captcha (catchToken)="onCatchTokenCaptcha($event)"
                             [errors]="getMessageErrors('captchaToken')"
                ></app-captcha>
      </div>
      <div class="error-message color-red" *ngIf="basicForm.errorSubmit" >Có thông tin bị lỗi. bạn cần hoàn thành hết các nội dung cần thiết.</div>
      <div class="center">
        <app-button
          (triggerClick)="onClickBtnSubmit()"
          [color]="'primary'"
          [title]="onFlowEdit ? 'Lưu lại' : 'Đăng tin'"
        ></app-button>
      </div>
    </div>
  </div>

</form>
<!--End post info-->

<div class="clearfix"></div>
