<div class="container">
  <div>
    <h2 class="page-header">Danh sách lead</h2>
  </div>
  <div>
    <mat-tab-group (selectedTabChange)="onChangedTab($event)"
                   [selectedIndex]="initTabIndex"
                   (animationDone)="onFinishedAnimation()">
      <mat-tab label="{{t.header}}"
               [aria-label]="t.type"
               *ngFor="let t of tabs">
        <div class="empty-list-message" *ngIf="leadList.itemsSource.length === 0">Danh sách trống</div>
        <div *ngIf="leadList.itemsSource.length > 0">
          <app-lead-list-item *ngFor="let lead of leadList.itemsSource"
                              [leadType]="t.type"
                              [lead]="lead">
          </app-lead-list-item>
        </div>
        <div class="actions">
          <button mat-raised-button
                  (click)="loadMore()"
                  *ngIf="isShowLoadMoreButton()">Xem thêm
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>