<div class="container">
  <div>
    <h2 class="page-header">Danh sách lead</h2>
  </div>
  <div>
    <mat-tab-group (selectedTabChange)="onChangedTab($event)"
                   [selectedIndex]="selectedTab.index"
                   (animationDone)="onFinishedAnimation()">
      <mat-tab label="{{t.header}}"
               [aria-label]="t.type"
               *ngFor="let t of tabs">

        <ng-container *ngIf="t.type !== LEAD_TYPE.NO_RETURN && t.type !== LEAD_TYPE.RETURN_AND_REFUND">
          <div class="empty-list-message" *ngIf="leadList.itemsSource.length === 0">Danh sách trống</div>

          <div *ngIf="leadList.itemsSource.length > 0">
            <div *ngIf="t.type === LEAD_TYPE.SOLD">
              <ul>
                <li>{{MESSAGES.LEAD_SOLD_MESSAGE_1}}</li>
                <li>{{MESSAGES.LEAD_SOLD_MESSAGE_2}}</li>
              </ul>
            </div>

            <app-lead-list-item *ngFor="let lead of leadList.itemsSource"
                                [leadType]="t.type"
                                [lead]="lead">
            </app-lead-list-item>
          </div>
          <div class="actions">
            <button mat-raised-button
                    (click)="loadMore()"
                    *ngIf="isShowLoadMoreButton()">Xem thêm
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="t.type === LEAD_TYPE.NO_RETURN">
          <p class="empty-list-message"> Không được trả lead....</p>
        </ng-container>

        <ng-container *ngIf="t.type === LEAD_TYPE.RETURN_AND_REFUND">
          <p class="empty-list-message">Trả lead và hoàn tiền ....</p>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>