<mat-card>
  <form name="passwordForm" [formGroup]="passwordForm" novalidate>
    <h2>Thay đổi mật khẩu</h2>
        <app-input-password [formControlName]="'oldPassword'"
                            [placeholder]="'Demo'"
                            [title]="'Mật khẩu cũ'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <app-input-password [formControlName]="'password'"
                            [placeholder]="'Demo'"
                            [title]="'Mật khẩu mới'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <app-input-password [formControlName]="'confirmedPassword'"
                            [placeholder]="'Demo'"
                            [title]="'Nhập lại mật khẩu mới'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <button mat-raised-button color="primary" (click)="updatePassword()">Lưu lại</button>
  </form>
</mat-card>