<mat-card>
  <form name="passwordForm" [formGroup]="passwordForm" novalidate>
    <h2 class="page-header">Thay đổi mật khẩu</h2>
        <app-input-password [formControlName]="'oldPassword'"
                            [title]="'Mật khẩu cũ'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <app-input-password [formControlName]="'password'"
                            [title]="'Mật khẩu mới'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <app-input-password [formControlName]="'confirmedPassword'"
                            [title]="'Nhập lại mật khẩu mới'"
                            [icon]="'vpn_key'"
                            ></app-input-password>
        <div fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="updatePassword()">Lưu lại</button>
        </div>
  </form>
</mat-card>