<div id="login" fxLayout="column">
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
      <div class="logo">
        <img src="assets/images/logos/hecta-logo.png">
      </div>
      <form name="loginForm" [formGroup]="loginForm" novalidate>
        <app-input-text [formControlName]="'username'"
                        [placeholder]="'Demo'"
                        [title]="'Tên tài khoản hoặc email'"
                        [icon]="'account_circle'"
                        [errors]="getErrorMessages(loginForm, 'username')"></app-input-text>

         <app-input-password [formControlName]="'password'"
                             [placeholder]="'Demo'"
                             [title]="'Mật khẩu'"
                             [icon]="'vpn_key'"
                             [errors]="getErrorMessages(loginForm, 'password')"></app-input-password>
        <mat-error *ngIf="!isSuccess">
            Tài khoản hoặc mật khẩu không hợp lệ
        </mat-error>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Nhớ tài khoản
          </mat-checkbox>
        </div>
        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                (click)="login()"
                [disabled]="loginForm.invalid">
          ĐĂNG NHẬP
        </button>
      </form>
      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth/register'">Tạo tài khoản</a>
      </div>
      <div class="forgot-password" fxLayout="column" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'forgot-password'">Quên mật khẩu</a>
      </div>
    </div>
  </div>
</div>
