<div class="container">
  <div>
    <h2 class="page-header"> {{pageTitle}}</h2>
  </div>

  <div class="lead-details">
    <div class="row">
      <div class="key">Loại:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Khu vực:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Diện tích:</div>
      <div class="value"> ...</div>
    </div>


    <div class="row">
      <div class="key">Mức giá:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Số phòng ngủ:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Hướng nhà:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Giá:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Thời gian nhận lead:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <span>&nbsp;</span>
    </div>
    <div class="row">
      <b>Thông tin lead</b>
    </div>

    <div class="row">
      <div class="key">Họ và tên:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Số điện thoại:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Email:</div>
      <div class="value"> ...</div>
    </div>

    <div class="row">
      <div class="key">Địa chỉ:</div>
      <div class="value"> ...</div>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary"> Nhận thông tin lead</button>
    </div>

  </div>

  <div class="notice">
    <ul>
      <li>Bạn có 10' để hoàn trả  ........</li>
      <li>Sau 10', khách hàng sẽ được tự động xác nhận .......</li>
    </ul>
  </div>
</div>