<div id="forgot-password" fxLayout="column">

  <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/hecta-logo.png">
      </div>

      <!--<div class="title">Khôi phục lại mật khẩu</div>-->

      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
          <app-input-text [formControlName]="'email'"
                          [placeholder]="'Demo'"
                          [title]="'Email'"
                          [icon]="mail"
                          [errors]="getErrorMessages(forgotPasswordForm, 'email')"></app-input-text>
    
        <p>Vui lòng nhập mail vào mục bên trên, chúng tôi sẽ gửi hướng dẫn lấy lại mật khẩu đến email của bạn</p>

        <button mat-raised-button class="submit-button" color="accent"
                aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid"
                (click)=forgotPassword()>
          Gởi
        </button>
      </form>

      <div class="register" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth/register'">Đăng ký</a>
      </div>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth/login'">Đăng nhập</a>
      </div>

    </div>

  </div>

</div>
