@import "src/@fuse/scss/fuse";

#products .top-bg {

  @include media-breakpoint('lt-md') {
    height: 256px;
  }
}

@include media-breakpoint('lt-md') {
  padding: 8px 0;
  height: 192px !important;
  min-height: 192px !important;
  max-height: 192px !important;
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .header{
    padding-top: 50px;
  }

  .content{
    margin-top: 80px;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .header{
    padding-top: 50px;
  }

  .content{
    margin-top: 80px;
  }

}


  .search {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 18px;
  }



.quantity-indicator {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 8px;
}
span {
  display: inline-block;
  vertical-align: middle;
}

.active-icon {
  border-radius: 50%;
}
.unlink {
    float: left;
    word-wrap: break-word;
    color: #055699;
}

img {
  float: left;
  word-wrap: break-word;
  color: #055699;
  margin-right: 10px;
}


mat-table {
  width: 1000px;
}

.table-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}
.mat-column-id {
  flex: 0 0 100px;
}
.mat-column-title {
  flex: 0 0 300px;
}
.mat-column-action {
  flex: 0 0 120px;
  text-align: center;
}
.mat-column-refesh {
  flex: 0 0 200px;
}
.mat-column-to {
  flex: 0 0 200px;
}
.mat-column-from {
   flex: 0 0 200px;
 }
.mat-column-viewCount {
  flex: 0 0 80px;
  text-align: center;
}
.mat-column-form {
  flex: 0 0 200px;
}
.action{
  padding-left: 15px;
}
