<div fxLayout="column">
  <div class="card">
    <div class="box">
      <div fxLayout="row wrap">
        <span class="balance">Tài khoản chính 1</span>
        <span class="balance__value">{{balance.main1}} đ</span>
      </div>
      <div fxLayout="row">
        <span class="balance">Tài khoản chính 2</span>
        <span class="balance__value">{{balance.main2}} đ</span>
      </div>
      <div fxLayout="row">
        <span class="balance">Tài khoản khuyến mãi</span>
        <span>{{balance.promo}} đ</span>
      </div>
      <div fxLayout="row">
        <span class="balance">Tài khoản tín dụng</span>
        <span class="balance__value">{{balance.credit}} đ</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>