<div mat-dialog-content>
  <div style="padding: 10px 0px">
    <div style="padding: 10px 0px">
      {{data.message}}
    </div>
    <form [formGroup]="form">
      <mat-form-field>
        <textarea rows="5"
                  matInput
                  formControlName="text"
                  [(ngModel)]="text"
                  placeholder="Tối thiểu 50 ký tự..."></textarea>
      </mat-form-field>
    </form>
    <div>
      <small class="form-text text-muted"><code>{{text.length}}</code> ký tự</small>
    </div>
  </div>
</div>
<div mat-dialog-actions style="text-align: center">
  <button mat-raised-button
          (click)="onClickBtnCancel()">
    Cancel
  </button>

  <button mat-raised-button
          style="margin-left: 8px;"
          color="primary"
          (click)="onClickBtnOk()"
          [disabled]="form.invalid">
    Ok
  </button>
</div>