<div id="reset-password" fxLayout="column">

  <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/hecta-logo.png">
      </div>

      <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
        <app-input-password [formControlName]="'password'"
                            [placeholder]="'Demo'"
                            [title]="'Mật khẩu mới'"
                            [icon]="'vpn_key'"
                            [errors]="getErrorMessages(resetPasswordForm, 'password')"></app-input-password>

        <app-input-password [formControlName]="'retypePassword'"
                            [placeholder]="'Demo'"
                            [title]="'Nhập lại mật khẩu mới'"
                            [icon]="'vpn_key'"
                            [errors]="getErrorMessages(resetPasswordForm, 'retypePassword')"></app-input-password>

        <button mat-raised-button class="submit-button" color="accent" aria-label="KHÔI PHỤC LẠI MẬT KHẨU" [disabled]="resetPasswordForm.invalid">
          KHÔI PHỤC LẠI MẬT KHẨU
        </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth/login'">Quay lại trang đăng nhập</a>
      </div>

    </div>

  </div>

</div>