<!-- <mat-form-field class="full-width" appearance="outline">
    <mat-label>{{title}}</mat-label>
  <input matInput [placeholder]="placeholder" style="width: 100%">
  <mat-hint>Ahihi</mat-hint>
</mat-form-field> -->

<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input matInput
         [placeholder]="placeholder"
         [(ngModel)]="innerValue"
         (focus)="onFocus($event)"
         (blur)="onLostFocus($event)"
         (ngModelChange)="onInputChange($event)">
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-hint>
    <div *ngFor="let m of errors">{{m}}</div>
  </mat-hint>
</mat-form-field>