<div class="page-layout blank p-24" fusePerfectScrollbar>
  <form novalidate [formGroup]="form" *ngIf="form">
    <div>
      <h2>Input text</h2>
      <app-input-text [formControlName]="'username'"
                      [placeholder]="'Demo'"
                      [title]="'Username'"
                      [icon]="usernameIcon"
                      [errors]="getErrorMessages(form, 'username')"></app-input-text>
    </div>
    <div>
      <h2>Input textarea</h2>
      <app-input-textarea [formControlName]="'description'"
                      [placeholder]="'Demo'"
                      [title]="'Description'"
                      [errors]="getErrorMessages(form, 'description')"></app-input-textarea>
    </div>

    <div>
      <h2>Input password</h2>
      <app-input-password [formControlName]="'password'"
                          [placeholder]="'Demo'"
                          [title]="'Password'"
                          [errors]="getErrorMessages(form, 'password')"></app-input-password>
    </div>
    <div>
      <h2>Input number</h2>
      <app-input-number [formControlName]="'contactPhone'"
      ></app-input-number>
    </div>
    <div>
      <h2>Select Text</h2>
    </div>
    <app-select-text [itemsSource]="cityItemsSource"
                     [displayPath]="'name'"
                     [valuePath]="'value'"
                     [title]="'--Chọn thanh pho--'"
                     [formControlName]="'city1'"></app-select-text>
    <div>
      <h2>Radio group</h2>
      <app-radio-group [itemsSource]="radioGroupItemsSource"
                       [formControlName]="'gender'"
                       [displayPath]="'name'"
                       (valueChange)="onRadioChange($event)"
                       [errors]="getErrorMessages(form, 'gender')"
                       [direction]="'row'"
                       [isDisabled]="false"
                       [valuePath]="'value'"></app-radio-group>
    </div>
    <div>
      <h2>Checkbox group</h2>
      <app-checkbox-group [itemsSource]="checkboxGroupItemsSource"
                          [direction]="'row'"
                          [errors]="getErrorMessages(form, 'districts')"
                          [formControlName]="'districts'"
                          [valuePath]="'value'"
                          [displayPath]="'name'"></app-checkbox-group>
    </div>
    <div>
      <h2>Combo box</h2>
      <app-combo-box [itemsSource]="cityItemsSource"
                     [title]="'City'"
                     [formControlName]="'city'"
                     [displayPath]="'name'"
                     [valuePath]="'value'"></app-combo-box>
    </div>
    <div>
      <h2>Auto complete</h2>
      <app-auto-complete [displayPath]="'name'"
                         [formControlName]="'bike'"
                         [title]="'Bike'"
                         [itemsSource]="autoCompleteItemsSource"
                         [icon]="'account_box'"
                         [valuePath]="'value'"></app-auto-complete>
    </div>
    <div>
      <h2>Date picker</h2>
      <app-date-picker [title]="'Date picker'"
                       [formControlName]="'date'"
                       [maxDay]="inputDate.maxDay"
                       [errors]="getErrorMessages(form, 'date')"
                       [minDay]="inputDate.minDay"></app-date-picker>
    </div>
    <div>
      <h2>Image Uploader</h2>
      <app-image-uploader [formControlName]="'images'"
      ></app-image-uploader>
    </div>
    <div>
      <h2>Captcha</h2>
      <app-captcha
      ></app-captcha>
    </div>
    <div>
      <h2>Dialog info</h2>
      <button mat-raised-button (click)="openDialogInfo()">Open</button>
    </div>

    <div>
      <h2>Dialog warining</h2>
      <button mat-raised-button (click)="openDialogWarning()">Open</button>
    </div>

    <div>
      <h2>Dialog confirm</h2>
      <button mat-raised-button (click)="openDialogConfirm()">Open</button>
    </div>
  </form>
</div>
