<div class="page-layout blank p-24" fusePerfectScrollbar>
  <form novalidate [formGroup]="form" *ngIf="form">
    <div>
      <h2>Input text</h2>
      <app-input-text [formControlName]="'username'"
                      [placeholder]="'Demo'"
                      [title]="'Username'"
                      [icon]="usernameIcon"
                      [errors]="getErrorMessages(form, 'username')"></app-input-text>
    </div>

    <div>
      <h2>Input password</h2>
      <app-input-password [formControlName]="'password'"
                          [placeholder]="'Demo'"
                          [title]="'Password'"
                          [errors]="getErrorMessages(form, 'password')"></app-input-password>
    </div>
    <div>
      <h2>Radio group</h2>
      <app-radio-group [itemsSource]="radioGroupItemsSource"
                       [formControlName]="'gender'"
                       [displayPath]="'name'"
                       (valueChange)="onRadioChange($event)"
                       [errors]="getErrorMessages(form, 'gender')"
                       [direction]="'row'"
                       [isDisabled]="false"
                       [valuePath]="'value'"></app-radio-group>
    </div>
    <div>
      <h2>Checkbox group</h2>
      <app-checkbox-group [itemsSource]="checkboxGroupItemsSource"
                          [direction]="'row'"
                          [errors]="getErrorMessages(form, 'districts')"
                          [formControlName]="'districts'"
                          [valuePath]="'value'"
                          [displayPath]="'name'"></app-checkbox-group>
    </div>
  </form>
</div>
