<mat-form-field appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input type="text"
         #matAutoCompleteTrigger
         matInput
         [formControl]="inputControl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="onSelectOption($event)"
                    [displayWith]="displayFn()">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-hint>
    <div *ngFor="let m of errors">{{m}}</div>
  </mat-hint>
</mat-form-field>

<!--
<mat-form-field appearance="outline">
  <input type="text"
         [placeholder]="placeholder"
         aria-label="Number"
         matInput
         [formControl]="inputControl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption
                    #auto="matAutocomplete"
                    [displayWith]="displayFn"
                    (optionSelected)="onSelectOption($event)">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option">
      {{option[displayPath]}}
    </mat-option>
  </mat-autocomplete>
  <mat-icon matSuffix *ngIf="icon">{{icon}}</mat-icon>
  <mat-hint>
    <div *ngFor="let m of errors">{{m}}</div>
  </mat-hint>
</mat-form-field>-->
